.DashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .Chart {
        height: 75%;
        width: 100%;
        max-width: 1400px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .ChartLegendContainer {
        height: 25%;
        width: 100%;
        background-color: #F29003;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ChartLegend {
            color: white;
            padding: 2rem;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            
            h2 {
                font-size: clamp(20px, 5vw, 2rem);
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            p {
                font-size: clamp(16px, 3vw, 1.75rem);

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}